
pre {
  margin: 0;
  padding: 0;
}

#log {
  font-family: monospace;
  max-height: 400px;
  min-height: 400px;
  overflow: scroll;
}

#output {
  width: 512px;
  height: 480px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
